.back-ground-layout-left {
  color: #C4F6DC;
  background-color: #001B24;
}

.title {
  font-size: 24px;
  padding-right: 12rem!important;
  padding-left: 12rem!important;
}

.description {
  font-size: 20px;
  padding-right: 12rem!important;
  padding-left: 12rem!important;
}

.back-ground-layout-right {
  background-color: #F2F2F2;
}

.heigth-layout {
  width: 100% !important;
  height: 100vh
}
