<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="flex-shrink-0 p-3 bg-white sidebar">
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button
          class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#home-collapse"
          aria-expanded="true"
        >
          Tarjetas visa en dispensadores
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li class="nav-item">
              <a class="nav-link rounded" href="/users">
                <i class="fas fa-users-cog"></i>
                Crear dispensador
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link rounded" href="/profiles">
                <i class="fas fa-users"></i>
                Monitorear y editrar dispensadores
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link rounded" href="/profiles">
                <i class="fas fa-users"></i>
                Solicitud de tarjetas
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
    </div>
